.heading {
    font-size: 3.5rem;
}

.sectionOne {
    margin-block-start: 1.5em;
    line-height: 1.3;
}

.sectionTwo {
    margin-block-start: 1.5em;
    line-height: 1.3;
}

.sectionThree {
    margin-block-start: 1.5em;
}

.fontSizeBig {
    font-size: 1.5rem;
}